<%= form_for @chef do |f| %>
<div class='row'>
    <div class="col-lg-6">
        <div class= "form-group">
        <%= f.label :chefname, class:"form-label"%>
        <%= f.text_field :chefname, class:"form-control"%>
        </div><br>

        <div class= "form-group">
        <%= f.label :email, class:"form-label"%>
        <%= f.email_field :email, class:"form-control" %>
        </div><br>
    </div>

    <div class="col-lg-6">
        <div class= "form-group">
        <%= f.label :password, class:"form-label"%>
        <%= f.password_field :password, class:"form-control" %>
        </div><br>

        <div class= "form-group">
        <%= f.submit(@chef.new_record? ? 'Register': 'Edit profile', class: 'btn btn-success btn-block') %>  
        </div>
    </div>
</div>
<%end%>

