<%= form_for @recipe do |f| %>
<div class='row'>
    <div class="col-lg-6">
        <div class= "form-group">
        <%= f.label :name, class:"form-label"%>
        <%= f.text_field :name, class:"form-control"%>
        </div><br>

        <div class= "form-group">
        <%= f.label :summary, class:"form-label"%>
        <%= f.text_area :summary, class:"form-control",rows:6%>
        </div>
    </div>
    <div class="col-lg-6">
        <div class= "form-group">
        <%= f.label :description, class:"form-label"%>
        <%= f.text_area :description, class:"form-control",rows: 12%>
        </div><br>

        <div class= "form-group">
        <%= f.submit 'Save Recipe', class: 'btn btn-success btn-block'%>  
        </div>
    </div>
</div>
<%end%>